.breadcrumbsection {
  max-width: 1184px;
  margin: 20px auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1140px;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 5px;
}

.wrapper h2 {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 500;
}

.breadcrumbLink {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
}

.breadcrumbLink:hover {
  color: #1968b3;
  cursor: pointer;
}

.breadcrumbLink:hover h2 {
  color: #1968b3;
}

.currentPage {
  color: #666;
}

@media screen and (max-width: 768px) {
  .breadcrumbsection {
    padding-bottom: 18px;
    padding-top: 18px;
    display: none;
  }

  .wrapper h2 {
    font-size: 12px;
  }
}