/* Fullscreen modal container */
.modal {
  position: fixed;
  inset: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  height: 100vh;
  width: 100%;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  flex-shrink: 0;
  height: 50px;
}

.left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  font-size: 18px;
  margin-right: 10px;
  color: #333;
}

.title {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  padding-left: 5px;
}

.recalculateButton {
  background-color: #000;
  color: #fff;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.recalculateButton:hover {
  background-color: #333;
}

.calcIcon {
  margin-right: 6px;
}

/* Scrollable content */
.answersWrapper {
  flex: 1;
  overflow-y: auto;
  padding: 16px 20px;
  /* background: #fafafa; */
}

/* Package block */
.packageBlock {
  /* background: #fff; */
  border-radius: 10px;
  /* padding: 16px; */
  margin-bottom: 16px;
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.08); */
}

.packageBlock h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111;
}

/* Questions */
.questionList {
  padding-left: 20px;
  margin: 0;
  list-style: decimal;
}

.questionList li {
  margin-bottom: 12px;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.question {
  /* font-weight: 500; */
  color: #333;
  margin-bottom: 4px;
}

/* Answer styles */
.yes {
  color: #F4911E;
 
}

.no {
  color: #F4911E;

}
