/* Fullscreen modal container */
.modal {
  position: fixed;
  inset: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  height: 100vh;
  width: 100%;
}

/* Header */
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
  /* Match MobileCommonHeader */
  flex-shrink: 0;
  height: 55px;
}

.left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.left img {
  width: 28px;
  /* Match MobileCommonHeader icon size */
  height: 28px;
}

.icon {
  font-size: 18px;
  margin-right: 10px;
  color: #000;
}

.title {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-left: 12px;
  margin-bottom: 0;
  padding-left: 0;
  width: -webkit-fill-available;
}

.recalculateButton {
  padding: 0px 15px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  width: 270px;
}

.recalculateButton:hover {
  color: #2f39ee;
}

.calcIcon {
  margin-right: 6px;
}

/* Scrollable content */
.answersWrapper {
  flex: 1;
  overflow-y: auto;
  padding: 15px 10px;
  /* background: #fafafa; */
}

.packageBlock h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #111;
}

/* Questions */
.questionList {
  padding-left: 0px;
  margin-bottom: 15px;
  list-style: none;
}

.questionList li {
  margin-bottom: 0px;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  gap: 0px;
  position: relative;
  padding-left: 15px;
}

/* Custom bullet point */
.questionList li::before {
  content: "-";
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
  color: #000000;
  font-size: 15px;
  line-height: 1.6;
}

.question {
  color: #000000;
  font-size: 14px;
  margin-bottom: 0px;
}

/* Answer styles */
.yes {
  color: #f26921;
  font-size: 12px;
}

.no {
  color: #f26921;
  font-size: 12px;

}