/* BrowserPopularPick.module.css */
.browserPick {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.container {
  width: 100%;
  margin: auto;
  /* Equivalent to my-10 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
}

.cardContainer {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  gap: 16px;
  /* Equivalent to gap-12 */
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.imageWrapper {
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 1px #00000006;
  border-radius: 15px;
  border: none;
  aspect-ratio: 173.34/150;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.imageWrapper img {
  display: flex;
  gap: 16px;
  height: 130px;
  border-radius: 15px;
  overflow: hidden;
}

.cardText {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: 0;
  color: #000000;
}

.cardContainer {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  /* Or scroll if you’re using horizontal scroll */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.cardContainer::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

@media (max-width: 768px) {
  .imageWrapper img {
    height: 120px;
  }

  .cardText {
    font-size: 14px;
  }

  .cardText {
    font-size: 12px;
    text-align: center;
  }

  .heading {
    margin: 25px 0 0 0;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    font-family: "IBM Plex Sans", sans-serif;
  }

  .imageWrapper {
    display: flex;
    gap: 16px;
    border: 0.3px solid #e1e1e1;
    box-shadow: none;
    /* height: 95px; */
    width: 140px;
  }

  .cardContainer {
    display: flex;
    gap: 10px;
  }
}