.blogsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1140px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 18px;
  margin: 25px 0 0 0;
  font-family: "IBM Plex Sans";
  font-weight: 500;
}

.navigation {
  display: none;
}

@media (min-width: 768px) {
  .navigation {
    display: flex;
    gap: 0.5rem;
  }
  .title {
    font-size: 1.5rem;
  }
}

.arrowLeft,
.arrowRight {
  padding: 0.5rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
}

.arrowLeft {
  background-color: #e5e7eb; /* gray-200 */
}

.arrowLeft:hover {
  background-color: #d1d5db; /* gray-300 */
}

.arrowRight {
  background-color: #000000;
  color: #ffffff;
}

.arrowRight:hover {
  background-color: #1f2937; /* gray-800 */
}

.blogList {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.blogList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.blogCard {
  background-color: #ffffff;
  border-radius: 15px;
  border: 0.3px solid #e1e1e1;
  width: 18rem;
  flex-shrink: 0;
  cursor: pointer;
  overflow: hidden;
}

@media (min-width: 640px) and (max-width: 1023px) {
  .blogCard {
    width: 20rem;
  }

  .blogImage {
    height: 12rem;
  }

  .blogTitle {
    font-size: 16px;
  }
}

.blogImage {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.blogContent {
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.blogTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 0;
}

.blogSubtitle {
  font-size: 14px;
  color: #555; /* gray-500 */
}

.blogDescription {
  font-size: 14px;
  color: #555; /* gray-600 */
  margin-bottom: 0;
}
