.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 1.25rem;
  font-weight: 600;
}

.navButtons {
  display: none;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .navButtons {
    display: flex;
  }
  .heading{
    font-size: 1.5rem;
  }
}

.leftArrow,
.rightArrow {
  padding: 0.5rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
}

.leftArrow {
  background-color: #e5e7eb;
}

.leftArrow:hover {
  background-color: #d1d5db;
}

.rightArrow {
  background-color: #000000;
  color: #ffffff;
}

.rightArrow:hover {
  background-color: #1f2937;
}

.productList {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.productList::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  width: 16rem;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  margin-bottom: 1rem;
}

.image {
  width: 100%;
  height: 10rem;
  object-fit: contain;
}

.saleBadge {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.75rem;
  color: #059669;
  background-color: #f3f4f6;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.title {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 0.25rem;
}

.details {
  font-size: 0.875rem;
  color: #4b5563;
  margin-bottom: 0.25rem;
}

.ratingRow {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}

.reviews {
  color: #4b5563;
  margin-left: 0.25rem;
}

.priceRow {
  display: flex;
  align-items: center;
  gap:6px;
  margin-bottom: 0.25rem;
}

.price {
  font-size: 1.125rem;
  font-weight: 500;
  color: #000000;
}

.originalPrice {
  font-size: 0.875rem;
  text-decoration: line-through;
  color: #6b7280;
}

.discount {
  font-size: 0.875rem;
  color: #047857;
  background-color: #d1fae5;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.emi {
  font-size: 0.875rem;
  background-color: #dbeafe;
  color: #000000;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
}

.delivery {
  font-size: 0.875rem;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}
