.container {
  max-width: 1140px;
  margin: auto;
}

.testimonialWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 18px;
  margin: 25px 0 0 0;
  font-family: "IBM Plex Sans";
  font-weight: 500;
}

.navButtons {
  display: none;
}

@media (min-width: 768px) {
  .navButtons {
    display: flex;
    gap: 0.5rem;
  }
  .navButtons button {
    cursor: pointer;
  }
  .heading {
    font-size: 1.5rem;
  }
}

.arrowBtnLight {
  padding: 0.5rem;
  border-radius: 9999px;
  background-color: #e5e7eb; /* gray-200 */
  transition: background-color 0.2s;
}

.arrowBtnLight:hover {
  background-color: #d1d5db; /* gray-300 */
}

.arrowBtnDark {
  padding: 0.5rem;
  border-radius: 9999px;
  background-color: #000000;
  color: #ffffff;
  transition: background-color 0.2s;
}

.arrowBtnDark:hover {
  background-color: #1f2937; /* gray-800 */
}

.cardContainer {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.cardContainer::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  border: 0.3px solid #e1e1e1;
  width: 20rem;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profileSection {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.userDetails {
  width: -webkit-fill-available;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  object-fit: cover;
}

.name {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0;
}

.date {
  font-size: 12px;
  color: #555;
  margin-bottom: 0;
}

.rating {
  color: #facc15; /* yellow-500 */
  font-size: 18px;
  width: fit-content;
  margin-bottom: 0;
  line-height: 1.2;
}

.ratingValue {
  color: #ffff;
  font-size: 14px;
  margin-left: 5px;
  background: #000;
  border-radius: 5px;
  padding: 2px 4px;
}

.review {
  font-size: 14px;
  color: #555;
  margin-bottom: 0;
}

.avatarFallback {
  width: 70px;
  height: 55px;
  border-radius: 50%;
  background-color: transparent; /* gray-400 or choose theme */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: black;
  font-size: 1rem; /* same size balance as text */
  text-transform: uppercase;
  border: 0.3px solid #e1e1e1;
}

.avatarFallback p {
  margin: 0;
  line-height: 0.5;
}
