.container{
  max-width: 1140px;
  margin: auto;
}
.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.heading {
  font-size: 1.25rem;
  font-weight: 600;
}

.navButtons {
  display: none;
}

@media (min-width: 768px) {
  .navButtons {
    display: flex;
    gap: 0.5rem;
  }
  .navButtons button{
    cursor: pointer;
  }
  .heading{
    font-size: 1.5rem;
  }
}

.arrowBtnLight {
  padding: 0.5rem;
  border-radius: 9999px;
  background-color: #e5e7eb; /* gray-200 */
  transition: background-color 0.2s;
}

.arrowBtnLight:hover {
  background-color: #d1d5db; /* gray-300 */
}

.arrowBtnDark {
  padding: 0.5rem;
  border-radius: 9999px;
  background-color: #000000;
  color: #ffffff;
  transition: background-color 0.2s;
}

.arrowBtnDark:hover {
  background-color: #1f2937; /* gray-800 */
}

.cardContainer {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.cardContainer::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #e5e7eb;
  width: 20rem;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profileSection {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  object-fit: cover;
}

.name {
  font-weight: 600;
  font-size: 0.875rem;
}

.date {
  font-size: 0.75rem;
  color: #6b7280;
}

.rating {
  color: #facc15; /* yellow-500 */
  font-size: 0.875rem;
}

.ratingValue {
  color: #4b5563; /* gray-600 */
  margin-left: 0.25rem;
}

.review {
  font-size: 0.875rem;
  color: #374151;
  line-height: 1.5;
}

.avatarFallback {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  background-color: transparent; /* gray-400 or choose theme */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: black;
  font-size: 1rem; /* same size balance as text */
  text-transform: uppercase;
  border: 0.3px solid;
  border-radius: 50%;
}
