.container {
  margin: auto;
}

.downloadContainer {
  width: 100%;
}

.downloadBox {
  background-color: #007fee;
  width: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: row;
  padding: 40px;
}

.storeImage {
  height: 60px;
}

.imageWrapper {
  flex-shrink: 0;
}

.mobileImage {
  height: 350px;
}

.textSection {
  margin-left: 45px;
  text-align: left;
  width: 50%;
}

.heading {
  font-size: 35px;
  color: #fff;
  font-weight: 500;
}

.description {
  font-size: 14px;
  margin-bottom: 16px;
  color: #ffffff;
}

.storeButtons {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}

@media (max-width: 768px) {
  .downloadContainer {
    margin-top: 25px;
  }

  .heading {
    font-size: 18px;
    font-weight: 500;
  }

  .description {
    font-size: 14px;
    font-weight: 400;
  }

  .storeButtons {
    justify-content: space-between;
  }

  .storeImage {
    height: 50px;
    width: 50%;
  }

  .downloadBox {
    flex-direction: column;
    padding: 25px;
  }

  .mobileImage {
    height: 200px;
  }

  .textSection {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
}