.container {
  /* padding: 2rem 1rem; */
  background-color: #f7f8fc;
}

.heading {
  font-size: 24px;
  /* font-weight: bold; */
  margin-bottom: 1.5rem;
  /* text-align: center; */
}

.wrapper {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.sidebar {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tabButton {
  padding: 0.8rem 1rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: left;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tabButton:hover {
  background-color: #eef1f7;
}

.active {
  border: 2px solid black;
  color: rgb(30, 138, 254);
  /* font-weight: bold; */
}

.faqContent {
  flex: 1;
  min-width: 300px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #ffffff;
}

.faqItem {
  border-bottom: 1px solid #ccc;
  padding: 0.8rem 0;
}

.faqQuestion {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.faqAnswer {
  padding-top: 0.5rem;
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.icon {
  font-size: 18px;
  margin-left: 0.5rem;
}

.viewMore {
    margin: auto;
  margin-top: 1.5rem;
  background-color: black;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
  display: flex;
}

.viewMore:hover {
  background-color: #222;
}

/* Responsive */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
    gap: 0.5rem;
  }

  .tabButton {
    min-width: 180px;
    white-space: nowrap;
  }
}
