.container {
  padding: 30px 160px;
}

.bannerWrapper {
  background-color: #000;
  color: #fff;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  border-radius: 10px;
}

.bannerWrapper h2 {
  font-size: 34px;
  font-weight: 400;
}

.highlight {
  color: #2196f3;
}

.statsContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.statBox {
  background-color: #fff;
  color: #000;
  padding: 1rem 2rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 1.25rem;
  min-width: 300px;
  justify-content: center;
}

.icon {
  font-size: 1.2rem;
}

.ewasteHelp {
  font-size: 30px;
  font-weight: 600;
}

.ewaste {
  color: #4caf50;
}

.ewasteInfo {
  color: #ccc;
  font-size: 24px;
  margin-top: 0.5rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding: 20px 0px;
    margin: 0px;
  }
  .bannerWrapper {
    padding: 24px 10px;
    border-radius: 0px;
  }

  .bannerWrapper h2 {
    font-size: 24px;
    line-height: 1.4;
  }

  .statsContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }

  .statBox {
    display: flex;
    flex-direction: column;
    min-width: 20%;
    font-size: 1.1rem;
    padding: 10px;
  }

  .ewasteHelp {
    font-size: 26px;
  }

  .ewasteInfo {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 20px 0px;
    margin: 0px;
  }
  .bannerWrapper h2 {
    font-size: 20px;
    border-radius: 0px;
  }

  .statBox {
    font-size: 14px;
  }

  .statsContainer { 
    gap: 10px;
  }

  .ewasteHelp {
    font-size: 18px;
  }

  .ewasteInfo {
    font-size: 18px;
  }
  .bannerWrapper {
    margin: 0px;
  }
}

