.container {
  padding: 30px 160px;
}

.bannerWrapper {
  background-color: #ededed;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  border-radius: 10px;
}

.bannerWrapper h2 {
  font-size: 18px;
  font-weight: 500;
}

.highlight {
  color: #1968b3;
}

.statsContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.statBox {
  background-color: #fff;
  color: #000;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 0.3px solid #e1e1e1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 1.25rem;
  min-width: 300px;
  justify-content: center;
}

.statBox img {
  height: 50px;
}

.statBox span {
  font-size: 12px;
}

.icon {
  font-size: 1.2rem;
}

.ewasteHelp {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin: 0;
}

.ewaste {
  color: #4caf50;
}

.ewasteInfo {
  color: #2e2e2e;
  font-size: 24px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .bannerWrapper {
    padding: 24px 10px;
    border-radius: 0px;
  }

  .bannerWrapper h2 {
    font-size: 18px;
    line-height: 1.4;
  }

  .statsContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .statBox {
    display: flex;
    flex-direction: column;
    min-width: 20%;
    font-size: 1.1rem;
    padding: 10px;
  }

  .ewasteHelp {
    font-size: 16px;
  }

  .ewasteInfo {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 25px 0px;
    margin: 0px;
  }
  .bannerWrapper h2 {
    font-size: 18px;
    border-radius: 0px;
    margin: 0;
  }

  .statBox {
    font-size: 14px;
  }

  .statsContainer {
    gap: 10px;
  }

  .ewasteHelp {
    font-size: 16px;
  }

  .ewasteInfo {
    font-size: 14px;
  }
  .bannerWrapper {
    margin: 0px;
  }
}
