.container {
  max-width: 1140px;
  margin: auto;
}

.newsletterwrapper {
  margin-top: 25px;
}

.wrapper {
  background-color: #bfdbfe;
  padding: 32px 24px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
}

/* Tablet-specific spacing */
@media (min-width: 640px) and (max-width: 1023px) {
  .wrapper {
    padding: 32px 36px;
    gap: 1.5rem;
  }
}

.textSection {
  text-align: center;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    padding: 45px 48px;
  }
  .textSection {
    text-align: left;
  }
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .heading {
    font-size: 1.5rem;
  }
}

@media (min-width: 640px) {
  .heading {
    font-size: 2rem;
  }
  .subheading {
    font-size: 14px;
    margin-bottom: 0;
  }
  .inputSection {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.subheading {
  font-size: 14px;
  font-weight: 400;
  font-family: IBM Plex Sans;
  margin-bottom: 0;
}

.inputSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 28rem;
  gap: 0.75rem;
  align-items: center;
  border-radius: 0.375rem;
  flex-wrap: wrap;
  position: relative;
}

.inputWrapper {
  display: flex;
  width: 100%;
}

.input {
  /* flex: 1; */
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid #d1d5db;
  border-right: none;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  outline: none;
  width: 100%;
}

.iconWrapper {
  position: absolute;
  right: 10px;
  /* z-index: 999; */
  /* top: 8px; */
  transform: rotate(180deg);
  background-color: white;
  padding: 5px;
  border: 1px solid;
  border-radius: 50%;
  top: 21%;
}

.icon {
  height: 15px;
  width: 15px;
}

.submitButton {
  background-color: #007fee;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  width: 100%;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
}

@media (min-width: 640px) {
  .submitButton {
    width: auto;
    margin-top: 0px;
  }
  .iconWrapper {
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
    background-color: white;
    border-top: 1px solid #d1d5db;
    border-bottom: 1px solid #d1d5db;
    border-right: 1px solid #d1d5db;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 18px;
    font-weight: 500 !important;
    font-family: var(--font-family-primary);
  }
  .wrapper {
    padding: 32px 16px;
  }
  .subheading {
    font-size: 14px;
    font-weight: 500;
    font-family: IBM Plex Sans;
    margin-bottom: 0;
  }
  .submitButton {
    width: 50%;
  }
  .input {
    padding: 0.5rem 0.3rem;
  }
}

.input {
  flex: 1;
  padding: 10px;
  padding-right: 50px;
  font-size: 16px;
  border-radius: 10px;
  height: 47px;
}
