.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal {
    background: white;
    width: 100%;
    max-width: 400px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    /* margin-bottom: auto;
    margin-top: 50%; */
  }
  
  .closeButton {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 24px;
    color: #888;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  .closeButton:hover {
    color: red;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #2563eb;
  }
  
  .subtitle {
    color: #555;
    font-size: 14px;
  }
  
  .inputGroup {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 8px 12px;
    border-radius: 6px;
    margin-bottom: 16px;
  }
  
  .icon {
    color: #999;
    font-size: 20px;
    margin-right: 8px;
  }
  
  .input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
  }
  
  .otpContainer {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 16px;
  }
  
  .otpInput {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
  }
  
  .otpInput:focus {
    border-color: #2563eb;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.3);
  }
  
  .submitButton {
    width: 100%;
    background-color: #2563eb;
    color: white;
    padding: 10px 0;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #1e4db7;
  }
 
@media (max-width: 480px) {
  .modal {
    background: white;
    width: 100%;
    max-width: 400px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: auto;
    margin-top: 50%;
  }
  
}

 .otpBoxContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
  }
  