.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  text-align: center;
  color: #444;
}

.iconWrapper {
  background: #f1f1f1;
  border-radius: 50%;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  font-size: 3rem;
  color: #888;
}

.text {
  font-size: 1.2rem;
  font-weight: 500;
  color: #555;
}
