/* FAQ.module.css */

/* FAQ Section */
.faqSection {
    /* padding: 30px 150px; */
  }
  
  /* Title */
  .faqTitle {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 24px;
    font-weight: 500;
    /* text-align: center; */
    color: #000;
    margin-bottom : 0px;
  }
  
  /* FAQ List */
  .faqList {
    width: 100%;
  }
  
  /* FAQ Item */
  .faqItem {
    padding: 15px 0;
    border-bottom: 0.3px solid #bababa;
  }
  
  /* FAQ Question */
  .faqQuestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #000;
    padding: 10px;
    transition: background 0.3s ease;
    padding-left: 0px;
    gap: 18px;
  }
  
  .faqQuestion:hover {
    /* background: #f9f9f9; */
  }
  
  /* FAQ Answer */
  .faqAnswer {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    color: #333;
    padding: 10px 0px;
    display: none;
    transition: all 0.3s ease-in-out;
  }
  
  .visible {
    display: block;
  }
  
  /* FAQ Icon */
  .faqIcon {
    font-size: 16px;
    transition: transform 0.3s ease;
  }
  
  .open {
    transform: rotate(180deg);
  }


  
  @media (max-width:480px){

    .faqTitle {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 18px;
      font-weight: 500;
      /* text-align: center; */
      color: #000;
      margin-bottom: 15px;
      padding: 0px 2px;
    }

    .faqQuestion {
      font-size: 14px;
    }

    .faqItem {
      padding: 2px 0;
    }
    .faqQuestion {
      padding: 5px 0px;
    }

    .faqAnswer {
      font-size: 14px;
    }

    
    

  } 

  @media (max-width:768px){

    .faqItem {
      padding: 5px 0px;
    }
    
  }