/* FAQ.module.css */

/* FAQ Section */
.faqSection {
  display: flex;
  flex-direction: column;
  gap: 20;
}

/* Title */
.faqTitle {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin: 25px 0 0 0;
}

/* FAQ List */
.faqList {
  width: 100%;
  margin-bottom: 25px;
}

/* FAQ Item */
.faqItem {
  padding: 15px 0;
  border-bottom: 0.3px solid #e1e1e1;
}

.faqItem:last-child {
  border-bottom: none;
}

/* FAQ Question */
.faqQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #000;
  padding: 10px;
  transition: background 0.3s ease;
  padding-left: 0px;
  gap: 18px;
  width: 100%;
}

.faqQuestion span {
  width: 80%;
}

/* FAQ Answer */
.faqAnswer {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  color: #333;
  padding-bottom: 10px;
  display: none;
  transition: all 0.3s ease-in-out;
}

.visible {
  display: block;
}

/* FAQ Icon */
.faqIcon {
  /* font-size: 16px; */
  transition: transform 0.3s ease;
}

.faqIcon img {
  width: 21px;
  transform: rotate(-90deg);
}

.open {
  transform: rotate(180deg);
}

@media (max-width: 480px) {
  .faqTitle {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    /* text-align: center; */
    color: #000;
    padding: 0px 2px;
  }

  .faqQuestion span {
    font-size: 14px;
  }

  .faqItem {
    padding: 2px 0;
  }
  .faqQuestion {
    padding: 5px 0px;
  }

  .faqAnswer {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .faqItem {
    padding: 5px 0px;
  }
}
