.section {
  padding: 20px;
}

.container {
  font-family: var(--font-family-primary);
  color: var(--color-text-primary);
  line-height: var(--line-height-relaxed);
}

.heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.text {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.subText {
  font-size: 0.95rem;
}

.btmtext {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

/* Mission & Vision */
.missionVision {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.cardBlue,
.cardYellow {
  flex: 1;
  padding: 1rem;
  border-radius: 16px;
  color: #222;
}

.cardBlue {
  background-color: #e6f0ff;
}

.cardYellow {
  background-color: #fff7e6;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  text-align: center;
}

/* Greener Planet Grid */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 2rem 0;
}

.cardBlack {
  background: #222;
  color: #fff;
  padding: 1rem;
  border-radius: 16px;
}

.cardBlack h4 {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: bold;
}

.cardBlack p {
  font-size: 0.9rem;
  color: #fff;
  line-height: 1.5;
}

@media (max-width: 140px) {
  .heading {
    font-size: 0.75rem;
  }

  .text {
    font-size: 0.4rem;
  }

  .cardTitle {
    font-size: 0.75rem;
  }

  .cardBlack h4 {
    font-size: 0.75rem;
  }

  .cardBlack p {
    font-size: 0.45rem;
  }
}

@media (max-width: 240px) {
  .heading {
    font-size: 1rem;
  }

  .text {
    font-size: 0.75rem;
  }

  .cardTitle {
    font-size: 1rem;
  }

  .cardBlack h4 {
    font-size: 0.95rem;
  }

  .cardBlack p {
    font-size: 0.7rem;
  }
}

@media (min-width: 550px) {
  .section {
    padding: 30px 40px;
  }

  .missionVision {
    flex-direction: row;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading {
    font-size: 1.6rem;
  }

  .cardTitle {
    font-size: 1.3rem;
  }
}

/* Large screens (1024px and up) */
@media (min-width: 1024px) {
  .section {
    padding: 30px 80px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .heading {
    font-size: 1.8rem;
  }

  .cardTitle {
    font-size: 1.6rem;
  }
}

/* Extra large screens (1440px and up) */
@media (min-width: 1440px) {
  .section {
    padding: 40px 200px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
