/* Desktop Styles (Default - Screens > 768px) */

.selectBrandWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 5px;
}

.brandImageBox {
  display: flex;
  gap: 19px;
  flex-wrap: wrap;
  overflow: visible;
  justify-content: flex-start;
}

.imgIndividual {
  width: 120px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
}

.imgIndividual img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.sectionHeading {
  font-family: "IBM Plex Sans";
  font-weight: 500;
  margin-bottom: 0px;
}

.brandImageBox span {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.brandSingleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  background-color: #ffffff;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 4px 1px #00000006;
  padding: 10px 0;
  min-width: 159px;
  width: calc(100% / 6.6);
}

.searchBox {
  margin-left: 10px;
  max-width: 367px;
  width: 100%;
  position: relative;
}

.searchBox input {
  background-color: #ffffff;
  padding: 15px 10px;
  border-radius: 8px;
  border: 0.3px solid #e1e1e1;
  max-width: 595px;
  width: 100%;
}

.searchIcon {
  position: absolute;
  right: 3%;
  top: 30%;
}

.headingFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewAllCircle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.viewAllCircle span {
  font-size: 20px;
}

/* Mobile Styles (Screens ≤ 768px) */

@media (max-width: 768px) {
  .selectBrandWrapper {
    gap: 15px;
    margin: 20px 0px;
  }

  .brandImageBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .imgIndividual {
    height: 80px;
    width: 80px;
    padding: 2px;
  }

  .imgIndividual img {
    object-fit: contain;
    height: 70px;
  }

  .sectionHeading {
    font-size: 18px;
    font-family: "IBM Plex Sans";
    font-weight: 500;
  }

  .brandImageBox span {
    font-size: 12px;
  }

  .brandSingleBox {
    gap: 0px;
    padding: 10px 0;
    width: auto;
    overflow: none;
    border: 0.3px solid #e1e1e1;
    box-shadow: none;
    min-width: 100%;
  }

  .searchBox {
    width: 44%;
  }

  .searchBox input {
    background-color: #ffffff;
    padding: 8px 10px;
    border-radius: 8px;
    border: 0.3px solid #e1e1e1;
    max-width: 595px;
    width: 100%;
    font-size: 12px;
  }

  .searchIcon {
    position: absolute;
    right: 5%;
    top: 30%;
    width: 20%;
    background: white;
    padding-left: 10px;
  }
}