.title {
  font-size: 20px !important;
  font-weight: 500;
  margin-bottom: 15px;
}

.intro {
  font-size: 14px;
  margin-bottom: 15px;
}

.toc {
  font-size: 14px;
  list-style-type: decimal;
  margin-left: 25px;
}

.wrapper h2 {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
}

.wrapper p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #374151;
}

.wrapper ul {
  padding-left: 18px;
  margin-bottom: 10px;
  color: #374151;
}

.wrapper li {
  font-size: 14px;
  margin-bottom: 5px;
  list-style-type: disc;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 20px 0px 20px;
  }

  .title {
    font-size: 18px !important;
    margin-bottom: 15px;
  }

  .wrapper h2 {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0;
    margin: 0 0 10px 0;
  }

  .intro,
  .wrapper p,
  .wrapper ul li,
  .toc {
    font-size: 14px;
  }

  .toc {
    margin-left: 16px;
  }
}