.selectBrandWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 25px;
}

.brandImageBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  overflow: auto;
}

.imgIndividual {
  width: 100%;
  aspect-ratio: 1;
  border: 0.3px solid #e1e1e1;
  border-radius: 15px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease;
}

.brandImageBox .imgIndividual:hover {
  border-color: rgb(147 197 253) !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
}

.selectBrandWrapper .brandImageBox .imgIndividual:hover {
  border-color: rgb(147 197 253) !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
}

.imgIndividual img {
  /* height: 60px; */
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.sectionHeading {
  font-size: 18px;
  font-family: "IBM Plex Sans";
  font-weight: 500;
}

.brandImageBox span {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.brandSingleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.searchBox input {
  background-color: #ffffff;
  padding: 15px 10px;
  border-radius: 8px;
  border: 0.3px solid #e1e1e1;
  max-width: 595px;
  width: 100%;
}

.searchBox {
  margin-left: 10px;
  max-width: 367px;
  width: 100%;
  position: relative;
}

.searchIcon {
  position: absolute;
  right: 3%;
  top: 30%;
}

.headingFlex {
  display: flex;
  align-items: start;
  justify-content: space-between;
  align-items: center;
}

/* Extra large desktops */

@media (min-width: 1600px) {
}

/* Standard desktops and laptops */

@media (max-width: 1440px) {
}
@media screen and (max-width: 1280px) {
}
@media (max-width: 1024px) {
}

/* Tablets */

@media (max-width: 768px) {
  .headingFlex {
    align-items: center;
  }
}

/* Phones */

@media (max-width: 550px) {
  .searchBox {
    width: 44%;
  }
  .searchBox input {
    background-color: #ffffff;
    padding: 8px 10px;
    border-radius: 8px;
    border: 0.3px solid #e1e1e1;
    max-width: 595px;
    width: 100%;
    font-size: 12px;
  }
  .searchIcon {
    position: absolute;
    right: 5%;
    top: 30%;
    width: 20%;
    background: white;
    padding-left: 10px;
  }

  .sectionHeading {
    font-size: 18px;
    font-family: "IBM Plex Sans";
    font-weight: 500;
    padding: 0px 2px;
  }

  .brandImageBox {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .brandSingleBox {
    gap: 6px;
  }

  .brandImageBox span {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .brandImageBox {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
  .brandImageBox {
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .brandImageBox {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }

  .brandImageBox span {
    font-size: 14px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .brandImageBox {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
}
