/* Skeleton.module.css */
.skeleton {
  background: linear-gradient(100deg, #eeeeee 30%, #dddddd 50%, #eeeeee 70%);
  background-size: 400% 100%;
  animation: shimmer 1.4s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -400% 0;
  }
  100% {
    background-position: 400% 0;
  }
}
