.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 8px; /* Reduced padding for mobile */
  border-bottom: 1px solid #eee;
  margin-top: 0 !important; /* Remove any inherited margin */
  height: 55px;
}
.header h2 {
  /* flex: 1; */
  /* text-align: left; */
  font-size: 18px;
  font-weight: 500 !important;
  color: #000;
  margin-bottom: 0;
  /* padding-left: 10px; */
}

button .backButton {
  width: 35px;
  height: 35px;
}

.backButton {
  background: none;
  border: none;
  font-size: 20px;
  margin-right: 0px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
  overflow-y: auto;
  /* padding: 12px; */
}

.title {
  flex: 1;
  margin-left: 12px; /* Add space between back button and title */
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.closeButton img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
