.loaderImg{
    width: 20%;
    height: 20%;
    z-index: 1000;
    margin-top: 20%;
    animation: heartbeat 2s linear infinite;
}
.loaderContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}

