.wrapper {
  border-radius: 0.5rem;
}

.heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .heading {
    font-size: 1.5rem;
  }
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cardImageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  height: 95px;
  width: 100%;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s;
  cursor: pointer;
  width: 100%;
}

@media (min-width: 768px) {
  .cardImageWrapper {
    /* width: 10rem; */
    height: 139px;
  }
}

.cardImage {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.cardLabel {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 500;
}

.moreIcon {
  font-size: 2.25rem;
  font-weight: bold;
}

.mobileGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  place-items: center;
}

@media (min-width: 768px) {
  .mobileGrid {
    display: none;
  }
}

.desktopGrid {
  display: none;
}

@media (min-width: 768px) {
  .desktopGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    place-items: center;
  }
}

@media (max-width: 550px) {
  .cardLabel {
    font-size: 12px;
  }
}
