.skeletonFlex {
  display: flex;
  gap: 2rem;
}

.leftSkeleton {
  width: 35%;
  height: 399px;
  background: #ddd;
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
}

.rightSkeleton {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.textSkeleton,
.sliderSkeleton,
.searchSkeleton {
  height: 40px;
  background: #ddd;
  border-radius: 6px;
  animation: pulse 1.5s infinite ease-in-out;
}

.brandSkeletonGroup {
  display: flex;
  gap: 10px;
}

.brandSkeleton {
  width: 100px;
  height: 100px;
  background: #ddd;
  /* border-radius: 50%; */
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: #ddd;
  }
  50% {
    background-color: #ccc;
  }
  100% {
    background-color: #ddd;
  }
}
