.wrapper {
  background-color: #ffe7cb; /* orange-100 */
  border-radius: 0.75rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 640px) {
  .wrapper {
    padding: 2.5rem;
  }
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    padding: 3.5rem;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: auto;
  }
}

.leftSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .leftSection {
    width: 50%;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 0;
  }
}

.heading {
  font-size: 1.25rem;
  font-family: var(--font-family-primary);
  font-weight: 500;
  margin-bottom: 0.6rem;
}

@media (min-width: 640px) {
  .heading {
    font-size: 1.875rem;
  }
}

@media (min-width: 768px) {
  .heading {
    font-size: 3rem;
    line-height: 1;
  }
}

.subheading {
  font-size: 1rem;
  font-weight: 600;
}

@media (min-width: 640px) {
  .subheading {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .subheading {
    font-size: 1.25rem;
  }
}

.learnMoreButton {
  display: inline-block;
  background-color: black;
  margin-top: 1rem;
  color: white;
  padding: 0.5rem 1.25rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

@media (min-width: 768px) {
  .learnMoreButton {
    display: inline-block;
    margin-top: 2.5rem;
    background-color: black;
    color: white;
    padding: 0.5rem 1.25rem;
    border-radius: 0.375rem;
    transition: background-color 0.3s;
  }

  .learnMoreButton:hover {
    background-color: #1f2937; /* gray-800 */
  }
}

.rightSection {
  width: 100%;
  background-color: white;
  border-radius: 0.75rem;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

@media (min-width: 640px) {
  .rightSection {
    padding: 1.5rem;
  }
}

@media (min-width: 768px) {
  .rightSection {
    width: 50%;
  }
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: #1f2937; /* text-gray-800 */
  margin-bottom: 1rem;
}

.featureIcon {
  font-size: 1.125rem;
}

.featureText {
  font-size: 0.875rem;
}
