.signUpWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 120px;
    width: 100%;
    background: #ffffff;
  }
  
  .leftPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    width: 382px;
  }
  
  .leftHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 382px;
  }
  
  .brand {
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #007fee;
    text-align: center;
  }
  
  .tagline {
    font-family: 'IBM Plex Mono';
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
    text-align: center;
  }
  
  .subtext {
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000000;
  }
  
  .leftButtons {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 270px;
  }
  
  .primaryBtn {
    background: #007fee;
    color: #ffffff;
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 14px;
    padding: 11px 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  .secondaryBtn {
    background: rgba(188, 188, 188, 0.7);
    color: #000000;
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 14px;
    padding: 11px 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  .formCard {
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    width: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .formContainer {
    width: 575px;
    display: flex;
    flex-direction: column;
    /* gap: 157px; */
    gap: 20px;
  }
  
  .formHeader {
    text-align: center;
    gap: 10px;
    margin-bottom: 157px;
  }
  
  .formTitle {
    font-family: 'IBM Plex Mono';
    font-size: 32px;
    font-weight: 500;
    color: #000;
  }
  
  .formSubtitle {
    font-family: 'IBM Plex Sans';
    font-size: 16px;
    font-weight: 600;
    color: #000;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .inputRow {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    width: 25px;
    height: 20px;
    /* background: #000; */
  }
  
  .inputContent {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
  
  .label {
    font-family: 'IBM Plex Sans';
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .inputValue {
    font-family: 'IBM Plex Sans';
    font-size: 16px;
    font-weight: 600;
    color: #000;
  }
  
  .submitBtn {
    background: #007fee;
    color: #ffffff;
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 14px;
    padding: 11px 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 30px;
  }
  
  .loginLink {
    font-family: 'IBM Plex Sans';
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 10px;
  }
  .mobileInput {
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    padding: 8px 0;
    width: 100%;
    outline: none;
  }
  
  .otpBoxContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
  }
  
  .otpInput {
    width: 45px;
    height: 50px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
    outline: none;
  }
  
  .passwordInput {
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    padding: 8px 0;
    width: 100%;
    outline: none;
  }
  
  .forgotPassword {
    font-family: 'IBM Plex Sans';
    font-size: 14px;
    font-weight: 400;
    color: #007fee;
    text-align: right;
    margin-top: 10px;
    cursor: pointer;
  }
  