/* SelectSeries.module.css */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.SellOldSection {
  color: #000000;
  font-size: 30px;
}

.header {
  padding: 8px;
}

.header .iconButton img {
  width: 25px;
  height: 25px;
}

.mobilePtSection {
  padding: 10px 8px 0 8px;
}

.headingFlex .sectionHeading {
  font-size: 18px;
}

.mobilePtSection .default-padding-section {
  padding: 0;
}

section.default-padding-section {
  padding: 10px 8px !important;
}

.seriesList {
  display: flex;
  flex-direction: row;
  gap: 12px;
  overflow-x: auto;
  overflow-y: hidden; /* Prevent vertical scroll */
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* Smooth scroll on iOS */
  padding: 0;
  scrollbar-width: none; /* Firefox hide scrollbar */
}

.seriesList::-webkit-scrollbar {
  display: none; /* Hide scrollbar iOS/Chrome */
}
.seriesItem {
  font-size: 14px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e1e1e175;
  border-radius: 5px;
  min-width: fit-content;
  width: fit-content;
  font-weight: 450;
  font-family: "IBM Plex Sans";
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  /* gap: 50%; */
  align-items: center;
}

.seriesItem.active {
  border-color: #1968b3;
  background-color: #f0f7ff !important;
}

.seriesItem span {
  padding-left: 10px;
}

.crossIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.crossIcon img {
  width: 20px;
  height: 20px;
}

.headingFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headingFlex h2 {
  margin: 0px 0 0 0;
}

.sectionHeading {
  font-weight: 500;
  font-family: "IBM Plex Sans", sans-serif;
  color: #000;
  /* adjust if needed */
}

.imgIndividual img {
  /* width: 146px; */
  height: 160px;
  object-fit: contain;
  padding: 0px;
}

.imgIndividual {
  width: 100%;
  /* height: 100%; */
  border: 0.3px solid #e1e1e1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px;
}

.brandSingleBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  font-family: IBM Plex Sans;
  font-weight: 500;
  /* width: fit-content; */
  text-align: center;
}

.modellist {
  display: flex;
  overflow: auto;
  display: grid;
}

@media (max-width: 990px) {
}

@media (max-width: 800px) {
  .brandSingleBox {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .brandSingleBox {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .mobilePtSection section.default-padding-section {
    padding: 0;
  }

  section {
    padding: 0px 0;
  }
}

@media (max-width: 550px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .imgIndividual {
    /* background: none; */
    border-radius: 15px;
    padding: 15px;
  }

  .imgIndividual img {
    height: 95px;
  }

  .modellist {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    gap: 12px;
  }

  .brandSingleBox {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    width: 31%;
  }
}

@media (max-width: 370px) {
  .brandSingleBox {
    font-size: 14px;
  }
}
