/* Removed wrapper - now using section-container class */
.container {
  overflow-x: hidden;
}

.presswrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading {
  font-size: 18px;
  margin: 25px 0 0 0;
  font-family: "IBM Plex Sans";
  font-weight: 500;
}

.grid {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.grid::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 10px;
  min-width: 250px;
  overflow: hidden;
  text-align: center;
  border: 0.3px solid #e1e1e1;
}

.logo {
  height: 70px;
  object-fit: contain;
  margin: 0 auto;
}

.title {
  margin: 15px 0 10px 0;
  font-size: 14px;
  font-weight: 500;
}

.date {
  margin: 0px;
  color: #555555;
  font-size: 14px;
}
