.footerSection {
  /* background-color: #f7f9fc; */
  /* padding: 60px 20px; */
}

.footerContentContainer {
  max-width: 1140px;
  margin: 0 auto;
  color: #1c1e21;
  line-height: 1.6;
}

.mainHeading {
  font-size: 20px;
  font-weight: 700;
  color: #0a0a0a;
  margin-bottom: 10px;
}

.sectionBlock {
  margin-bottom: 20px;
}

.subHeading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #1a1a1a;
}

.description {
  font-size: 1rem;
  color: #444;
}

@media (max-width: 768px) {
  .mainHeading {
    font-size: 18px;
  }

  .subHeading {
    font-size: 16px;
    margin: 20px 0 10px;
  }

  .description {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 0px;
    line-height: 1.3;
    word-spacing: 1;
  }

  .sectionBlock {
    margin-bottom: 10px;
  }

  .footerContentContainer {
    padding: 20px 10px;
  }
}
