.topSellingWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.brandImageBox {
  display: flex;
  gap: 19px;
  /* flex-wrap: wrap; */
  overflow: scroll;
  /* justify-content: center; */
}

.imgIndividual {
  width: 146px;
  height: 169px;
  border: 0.3px solid #e1e1e1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.sectionHeading {
  font-size: 18px;
  margin: 0;
  font-family: "IBM Plex Sans";
  font-weight: 500;
}

.brandImageBox span {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.brandSingleBox {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 11px;
  width: initial;
}

.searchBox input {
  background-color: #ffffff;
  padding: 15px 10px;
  border-radius: 8px;
  border: 0.3px solid #e1e1e1;
  max-width: 595px;
  width: 100%;
}

.searchBox {
  margin-left: 10px;
  max-width: 367px;
  width: 100%;
}

.headingFlex {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

@media (max-width: 480px) {
  .sectionHeading {
    font-size: 20px;
  }
  .brandImageBox span {
    font-size: 12px;
  }

  .imgIndividual {
    height: 140px;
    width: 130px;
    padding: 2px;
  }
}

.imgIndividual img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.imgIndividual {
  padding: 2px;
}
