.container {
  padding: 10px;
  max-width: 1140px;
  margin: auto;
  margin-top: 25px;
  border: 0.3px solid #e1e1e1;
  border-radius: 0.75rem;
  background-color: #ffffff;
}

.heading {
  font-size: 18px;
  margin: 25px 0 0 0;
  font-family: "IBM Plex Sans";
  font-weight: 500;
  margin: auto;
  margin-bottom: 10px;
  width: fit-content;
}

@media (min-width: 640px) {
  .heading {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .heading {
    font-size: 1.875rem;
  }
  .container {
    padding: 4rem;
  }
}

.description {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
  text-align: center;
}

@media (min-width: 640px) {
  .description {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

.benefitsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 640px) {
  .benefitsGrid {
    gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .benefitsGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.benefitCard {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid;
}

@media (min-width: 640px) {
  .benefitCard {
    padding: 1.25rem;
  }
}

.benefitTitle {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-family: var(--font-family-primary);
}

.benefitDescription {
  margin-top: 10px;
  font-size: 0.8rem;
  line-height: 1.5;
}

.borderOrange {
  border-color: #fed7aa;
}

.borderIndigo {
  border-color: #c7d2fe;
}

.borderBlue {
  border-color: #bfdbfe;
}

.borderLime {
  border-color: #bef264;
}

@media screen and (max-width: 300px) {
  .benefitsGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
